.content_wrapper .carousel-section.owl-carousel img {
    height: 40em;
    width: 100%;
}

.content_wrapper .carousel-section.owl-carousel .owl-nav {
    bottom: 50%;
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    margin: 0;
}

.content_wrapper .carousel-section.owl-carousel .owl-nav button {
    outline: none;
    height: 5em;
    background: rgba(0, 0, 0, .5);
    color: white;
    border: none;
}

.content_wrapper .carousel-section.owl-carousel .owl-nav button span {
    font-size: 44px;
    padding: 0em 0.3em;
}

.content_wrapper .carousel-section.owl-carousel .owl-nav button.owl-prev,
.content_wrapper.carousel-section.owl-carousel .owl-nav button.owl-next {
    background: rgba(0, 0, 0, .5);
    color: white;
    border-radius: 0px;
    margin: 0px;
}

.content_wrapper .carousel-section.owl-carousel .owl-nav button.owl-prev {
    float: left;
}

.content_wrapper .carousel-section.owl-carousel .owl-nav button.owl-next {
    float: right;
    border-radius: 0px;
    margin: 0;
}

.content_wrapper .carousel-section.owl-carousel .item .carousel-caption {
    text-align: left;
    left: 6em;
    top: 20%;
}

.content_wrapper .carousel-section.owl-carousel .item .carousel-caption h1 {
    font-size: 3.5em;
    color: red;
    font-weight: 600;
    font-family: Roboto;
}

.content_wrapper .carousel-section.owl-carousel .item:first-child .carousel-caption p:nth-child(2) {
    font-size: 30px;
    color: currentcolor;
    font-weight: 600;
    font-family: Poppins;
}

.content_wrapper .carousel-section.owl-carousel .item:first-child .carousel-caption p:nth-child(3) {
    font-size: 25px;
    color: antiquewhite;
    font-family: 'times new roman';
}

.content_wrapper .carousel-section.carousel-section.owl-carousel .item:first-child .carousel-caption p:nth-child(3) .price {
    color: red;
    font-weight: 700;
}

.content_wrapper .carousel-section.owl-carousel .item .carousel-caption a:last-child {
    background: red;
    padding: 0.5em 2em;
    display: inline-block;
    margin-top: 0.5em;
    font-family: Poppins;
    visibility: visible;
}

.content_wrapper .carousel-section.owl-carousel .item:nth-child(2) .carousel-caption p:nth-child(2) {
    color: black;
}

.content_wrapper .carousel-section.owl-carousel .item:nth-child(2) .carousel-caption p:nth-child(3) {
    color: #125b2f;
}

.content_wrapper .carousel-section.owl-carousel .item:last-child .carousel-caption p:nth-child(2) {
    color: darkturquoise;
}

.content_wrapper .carousel-section.owl-carousel .item .carousel-caption a:last-child:hover {
    text-decoration: none;
    color: white;
}

.content_wrapper .carousel-section.owl-carousel .item:nth-child(2) .carousel-caption h1 {
    font-size: 3em;
    color: cadetblue;
    font-weight: 600;
    font-family: ui-monospace;
}


/* about section */

.content_wrapper .about_section {
    margin-top: 4em;
    padding: 0em 8em;
}

.content_wrapper .about_section figure img {
    height: 24em;
}

.content_wrapper .about_section .about_box h3 {
    font-family: 'Calistoga', cursive;
    font-size: 4em;
    color: hsl(0deg 92% 49%);
}

.content_wrapper .about_section .about_box span {
    color: hsl(0deg 92% 49%);
    font-size: 3em;
    font-style: oblique;
    font-weight: 600;
    font-family: 'Calistoga', cursive;
}

.content_wrapper .about_section .col-lg-7 p {
    margin-top: 2em;
    line-height: 2em;
    font-family: 'Poppins';
}

.img_wrapper .container .row figure {
    position: relative;
    margin-top: 2em;
}

.img_wrapper .container .row figure img {
    width: 100%;
    height: 18em;
}


/* product category */

.content_wrapper .product_category .category_intro .intro_header {
    margin-top: 3.3em;
    background: #8046b4;
    padding: 0.3em;
    padding-left: 3em;
    font-weight: 600;
    font-family: 'Roboto';
    color: white;
}

.content_wrapper .product_category .category_intro .intro_body figure {
    height: 25em;
    position: relative;
    margin-bottom: 1em;
}

.content_wrapper .product_category .category_intro .intro_body figure img {
    height: 25em;
    width: 100%;
}

.content_wrapper .product_category .category_intro .intro_body figure::after,
.content_wrapper .product_category .category_intro .intro_body figure::before,
.img_wrapper .container .row figure::before,
.img_wrapper .container .row figure::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    height: 100%;
    width: 0%;
    transition: all 0.5s ease-out;
}

.content_wrapper .product_category .category_intro .intro_body figure::after,
.img_wrapper .container .row figure::after {
    transition: rotate(180deg);
    top: 0em;
    right: 0em;
}

.content_wrapper .product_category .category_intro .intro_body:hover figure::before,
.content_wrapper .product_category .category_intro .intro_body:hover figure::after,
.img_wrapper .container .row figure:hover::before,
.img_wrapper .container .row figure:hover::after {
    width: 50%;
}

.content_wrapper .product_category .category_intro .intro_body figure .text {
    display: inline-block;
    position: relative;
    bottom: 23em;
    width: 55%;
    padding-left: 3em;
    color: mediumblue;
    font-weight: 700;
    font-family: Roboto;
}

.content_wrapper .product_category .category_intro .intro_body figure .text p:first-child {
    color: snow;
    font-size: 4em;
}

.content_wrapper .product_category .category_intro .intro_body figure .text p:nth-child(2) {
    font-size: 3em;
    color: #4caf50;
}

.content_wrapper .product_category .category_intro .intro_body figure .text p:nth-child(3) {
    font-size: 2em;
    color: #e80303;
}

.content_wrapper .product_category .category_intro .intro_body figure .text button {
    display: inline-block;
    background: rgb(4 4 4 / 79%);
    color: white;
    padding: 0.5em 1em;
    font-size: 16px;
    outline: none;
    border: 0px;
}

.content_wrapper .product_category .category_body .container .content {
    border: 1px solid #dee2de;
}

.content_wrapper .product_category .category_body .container .content {
    margin-top: 4em;
    margin-bottom: 2em;
}

.content_wrapper .product_category .category_body .container .content .nav-tabs {
    border-bottom: 0px;
}

.content_wrapper .product_category .category_body .container .content .nav-tabs .nav-link {
    background: rgb(210 210 210 / 12%);
    color: #7d7d7d;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 0;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.content_wrapper .product_category .category_body .container .content .nav-tabs .nav-link.active {
    border-color: #fff #e6e6e6 #fff #fff;
    background-color: white;
}

.content_wrapper .product_category .category_body .container .content .nav-tabs .nav-link.active:last-child {
    border-color: #fff #fff #fff;
    background-color: white;
}

.content_wrapper .product_category .category_body .container .content .nav-tabs .nav-link:hover {
    background: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.content_wrapper .product_category .category_body .container .content .nav-tabs .nav-link:hover:first-child {
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right: 1px solid #e6e6e6;
}

.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel.owl-loaded:not(.active) {
    display: none;
}

.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel .owl-nav {
    position: absolute;
    bottom: 70%;
    width: 100%;
    height: 0;
    margin: 0;
}

.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel .owl-nav button.owl-next,
.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel .owl-nav button.owl-prev {
    margin: 0;
    background-color: transparent;
}

.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel .owl-nav button.owl-next {
    float: right;
}

.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel .owl-nav button.owl-prev {
    float: left;
}

.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel .owl-nav button.owl-next span,
.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel .owl-nav button.owl-prev span {
    padding: 0.1em 0.2em;
    font-size: 40px;
    opacity: 0;
    background: #afafafba;
    transition: all 0.5s ease;
}

.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel:hover .owl-nav button.owl-next span,
.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel:hover .owl-nav button.owl-prev span {
    opacity: 1;
}

.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel .owl-nav button.owl-next span:hover,
.content_wrapper .product_category .category_body .container .content .tab-content .owl-carousel .owl-nav button.owl-prev span:hover {
    background: rgba(0, 0, 0, .5);
    color: white;
}

.content_wrapper .product_category .category_body .container .content .tab-content {
    margin-top: 0.2em;
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane a {
    display: inline-block;
    padding-bottom: 15px;
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane a:hover {
    text-decoration: none;
    color: initial;
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane img {
    width: 95%;
    height: 12em;
    transition: transform ease-out 0.3s 0s;
    display: block;
    margin: 0.4em auto;
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane .item:hover {
    border: 1px solid rgba(235, 66, 36, 0.4);
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane .item:hover img {
    transform: scale(1.05);
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane .item .product_name {
    color: #000000b8;
    font-size: 14px;
    padding: 5px 10px;
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane .item .price,
.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane .item .reduced_price {
    font-size: 16px;
    font-weight: 600;
    padding-left: 8px;
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane .item .reduced_price {
    color: rgba(255, 0, 0, 0.534);
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane .item .cancelled_price {
    font-size: 12px;
    text-decoration: line-through;
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane .item .rating {
    padding-left: 10px;
}

.content_wrapper .product_category .category_body .container .content .tab-content .tab-pane .item .rating .fa-star {
    font-size: 12px;
    color: rgba(255, 230, 0, 0.747);
}

.content_wrapper .product_category .container .slick_container {
    margin-bottom: 2em;
    padding: 2em;
}

.content_wrapper .product_category .container .slick_container .item.slick-slide {
    margin: 0em 0.5em;
    width: 250px;
    display: flex;
    justify-content: center;
}

.content_wrapper .product_category .container .slick_container .item.slick-slide a {
    transition: all 0.6s ease-out;
    display: inline-block;
    width: 220px;
    margin: 0.4em;
    transform: scale(0.95);
}

.content_wrapper .product_category .container .slick_container .item.slick-slide a img {
    width: 100%;
    height: 14em;
}

.content_wrapper .product_category .container .slick_container .item.slick-slide a p {
    font-family: 'Roboto';
    font-size: 14px;
    padding-left: 0.4em;
    margin-bottom: 0;
}

.content_wrapper .product_category .container .slick_container .item.slick-slide a span {
    font-family: 'Zilla Slab', serif;
    padding-left: 0.4em;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.content_wrapper .product_category .container .slick_container .item.slick-slide:not(.slick-active.slick-center) a:hover {
    transform: scale(1.0);
    color: #e80303;
}

.content_wrapper .product_category .container .slick_container .item.slick-slide.slick-active.slick-center {
    transform: scale(1.1);
    color: #a30000;
}

.content_wrapper .product_category .container .slick_container .item.slick-slide.slick-active.slick-center a span {
    color: goldenrod;
}

.container .adidas {
    width: 100%;
}

@media screen and (max-width:1024px) {
    .content_wrapper .product_category .category_intro .intro_body figure .text p:first-child {
        font-size: 3em
    }
    .content_wrapper .product_category .category_intro .intro_body figure .text p:nth-child(2) {
        font-size: 2.5em;
    }
    .content_wrapper .product_category .category_intro .intro_body figure .text p:nth-child(3) {
        font-size: 1.5em;
    }
}

@media screen and (max-width:768px) {
    .content_wrapper .product_category .category_intro .intro_body figure .text {
        width: 100%;
        bottom: 23em;
    }
    .content_wrapper .about_section figure img {
        height: 18em;
    }
    .content_wrapper .about_section .about_box h3,
    .content_wrapper .about_section .about_box span {
        font-size: 2em
    }
    .content_wrapper .about_section .about_box p {
        margin-top: 0.5em;
        line-height: 1.5em;
        font-size: 14px;
    }
}

@media screen and (max-width:425px) {
    .content_wrapper .carousel-section.owl-carousel .item img {
        height: 30em;
    }
    .content_wrapper .carousel-section.owl-carousel .item .carousel-caption {
        top: 5%;
    }
    .content_wrapper .carousel-section.owl-carousel .item .carousel-caption h1 {
        font-size: 1.7em
    }
    .content_wrapper .carousel-section.owl-carousel .item:first-child .carousel-caption p:nth-child(2),
    .content_wrapper .carousel-section.owl-carousel .item .carousel-caption p:nth-child(3) {
        font-size: 20px;
    }
    .content_wrapper .about_section {
        padding: 0em 4em;
    }
    .content_wrapper .about_section figure img {
        height: 100%;
    }
    .content_wrapper .product_category .category_body .container .content .tab-content .tab-pane a {
        width: 100%;
    }
}