.owl-theme .owl-dots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.owl-theme .owl-dots .owl-dot:not(:first-child),
.owl-theme .owl-dots .owl-dot:not(:last-child) {
    margin: 0em 0.25em;
}

.owl-theme .owl-dots .owl-dot:first-child {
    margin-right: 0.25em;
    margin-left: 0em;
}

.owl-theme .owl-dots .owl-dot:last-child {
    margin-left: 0.25em;
    margin-right: 0em;
}

.owl-carousel .owl-item img {
    height: 21em;
}

.owl-theme .owl-dots .owl-dot button {
    display: inline-block;
    width: 100%;
    outline: none;
    height: 80px;
    overflow: hidden;
    border-radius: 0.5em;
    margin: 0;
}

.owl-theme .owl-dots .owl-dot button img {
    height: 80px;
    max-width: 100%;
    width: 100%;
    transition: all 0.5s linear;
    transform: scale3d(1, 1, 1);
}

.owl-theme .owl-dots .owl-dot button:hover img {
    transform: scale3d(1.15, 1.15, 1);
}

.details_wrapper {
    border-bottom: 1px solid lavender;
}

.details_wrapper .col-lg-10 h2 {
    font-size: 24px;
    font-family: 'Zilla Slab', serif;
}

.details_wrapper .col-lg-2 form button {
    float: right;
    font-size: 24px;
    color: #ffb657;
    border-radius: 1em;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
}

.uk-lightbox.uk-overflow-hidden.uk-lightbox-panel.uk-open {
    z-index: 99999;
}

.uk-lightbox.uk-overflow-hidden.uk-lightbox-panel.uk-open ul li img {
    width: 70vw;
    height: 100%;
}

.details_wrapper .col-lg-2 form button:hover {
    background: bisque;
    text-decoration: none;
}

.description h4 {
    font-size: 12px;
    font-family: 'Poppins';
    margin-top: 0.75em;
    color: #ffa114;
}

.description p {
    text-align: justify;
    font-size: 12px;
    font-family: 'Poppins';
}

.description p.ratings {
    position: relative;
    color: rgb(218, 218, 218);
    margin: 0.7em 0em;
}

.description p.ratings .full:before {
    content: '\f005';
    font-size: 12px;
    font-weight: 900;
    font-family: 'Font Awesome 6 Free';
    display: inline-block;
}

.description p.ratings .half:before {
    content: '\f089';
    font-size: 12px;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    top: 0px;
}

.description .price_wrapper {
    font-size: 24px;
    font-family: 'Zilla Slab';
    font-weight: 600;
}

.description .price_wrapper .currency {
    margin-right: 0.15em;
}