.form_wrapper {
    /* background: url('../images/freestocks-_3Q3tsJ01nc-unsplash.jpg'); */
    padding: 3em 5em;
}

.form_wrapper h3 {
    margin-top: 0.6em;
    font-size: 2em;
    color: #ee9b00;
    font-family: Calistoga;
}

.form_wrapper form {
    margin: 2em 1em 1em;
}

.form_wrapper form div.form-group {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: baseline;
}

.form_wrapper label {
    display: block;
    text-align: left;
}

.form_wrapper input.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #023e8a;
}

.form_wrapper img {
    height: 100%
}

.container .shadow .row .col-lg-6 img {
    max-width: 100%;
    height: auto;
}

.container .shadow .row .col-lg-6 form button {
    width: 100%;
    text-align: center;
    margin: 0.8em 0em;
}

.container .shadow .row .col-lg-6 form .google {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid #111156;
    border-radius: 0.4em;
    padding: 0.2em;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 13px;
}

.container .shadow .row .col-lg-6 form .google:hover {
    text-decoration: none;
    color: black
}

.container .shadow .row .col-lg-6 form .google img {
    width: 2em;
}